body{
    padding: 1%;
    background-color: lightgrey;
     font-family: Verdana;
}

.container{
    background-color: white;
    border-radius: 1%;
    min-height: 100%;
    max-height: 100%;
    overflow-y: hidden;
    width: 80%;
}

.outlet{
    margin-left: 1%;
    width: 74%;
    float: right;
    background-color: white;
    border-radius: 1%;
}

.header{
   font-weight: bolder;
   color: white;
   height: 5%;
   font-size: 24px;
   margin-bottom:  1%;
   margin-top: 6px;
   background-color: #d32f2f;
   border-radius: 1%;
}

.header p{
   margin-left: 1%;
}


.list-group {
    width: 25%;
    float: left;
    
}

.list-group-item{
    background-color: #d32f2f;
    font-weight: bolder;
    border: none;
   
}

.list-group a{
    text-decoration: none;
    color: white;
}
.list-group a:hover{
    text-decoration: none;
    background-color: #f44336;
}

.list-group active{
    text-decoration: none;
    color: white;
    background-color: #f44336;
}
.list-group a:visited{
    text-decoration: none;
    color: white;
}

.badge{
    background-color: grey;
}

.insideMenu{
    margin-bottom: 2%;
}

.insideMenu li a{
     text-decoration: none;
    color: white;
    background-color: #d32f2f;
    size: 5px;
}

.insideMenu li a:active{
     text-decoration: none;
    color: white;
    background-color: #f44336;
}

.insideMenu li a:hover{
     text-decoration: none;
    background-color: #f44336;
    size: 5px;
}

.nav nav-tabs li a{
    background-color: #d32f2f;
}




