<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/projects"><span class="glyphicon glyphicon-book"></span> Projects</a></li>
            <li><a href="/messages"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
        </ul>
      
    </div>
</nav>