<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    
    <div class="col-sm-2">
                
                <div class="well">
                    <a href="/myprojects"><span class="glyphicon glyphicon-file"></span> My Projects</a>
                    <br>
                    <a href="/createprojects"><span class="glyphicon glyphicon-duplicate"></span> Create New Projects</a>
                </div>

            </div>
    
        <div class="row">
            <div class="col-sm-9">
            
                <div class="jumbotron">
                    <h1>This is great</h1>
                    <p>About</p>
                </div>
                
            </div>
            
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>