
    
<div class="container">
<div class="header">
    <p>ProjectPlatform</p>
    </div>
<div class="list-group">
    
    
  <a href="#" class="list-group-item">
    {{#link-to "home"}}Home{{/link-to}}
  </a>
  <a href="#" class="list-group-item">{{#link-to "projects"}}Projects{{/link-to}}</a>
</div>




<div class="outlet">
    
{{outlet}}

</div>
</div>

